* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
}

h1 {
  margin-bottom: 12px;
  font-size: 2.5rem;
}

.camera-box {
  position: relative;
  width: 800px;   /* bigger display */
  height: 600px;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #333;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

video, canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Detected sign in top-right */
#gestureLabel {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 48px;  /* big */
  font-weight: bold;
  color: #00ffcc;
  text-shadow: 0 0 10px black;
  background: rgba(0,0,0,0.3); /* transparent background */
  padding: 10px 20px;
  border-radius: 10px;
}
